@-webkit-keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

html, body {
  cursor : none;
  background-color: black;
}

.terminal {
  position: relative;
  padding-top: 25px;
}

.terminal .prompt {
  color: #1ff042;
  display: block;
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  font-size: 12pt;
  letter-spacing: 0.15em;
  white-space: pre-wrap;
  text-shadow: 0 0 2px rgba(31, 240, 66, 0.75);
  line-height: 1.5;
  margin-bottom: 0.75em;
}

 .terminal .prompt:before {
  content: attr(command-context);
  display: inline-block;
}

.terminal .promptNoBefore {
  color: #1ff042;
  display: block;
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  font-size: 12pt;
  letter-spacing: 0.15em;
  white-space: pre-wrap;
  text-shadow: 0 0 2px rgba(31, 240, 66, 0.75);
  line-height: 1.5;
  margin-bottom: 0.75em;
}

.terminal .new-output {
  display: inline-block;
  line-height: 1.5;
}

.terminal .new-output:after { /* cursor blink taken from a codepen */
  display: inline-block;
  vertical-align: -0.15em;
  width: 0.75em;
  height: 1em;
  margin-left: 5px;
  background: #1ff042;
  box-shadow: 1px 1px 1px rgba(31, 240, 66, 0.65), -1px -1px 1px rgba(31, 240, 66, 0.65), 1px -1px 1px rgba(31, 240, 66, 0.65), -1px 1px 1px rgba(31, 240, 66, 0.65);
  -webkit-animation: cursor-blink 1.25s steps(1) infinite;
  -moz-animation: cursor-blink 1.25s steps(1) infinite;
  animation: cursor-blink 1.25s steps(1) infinite;
  content: '';
}

.text-center {
  text-align: center !important;
}
